*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #ffffff;
}
.one{
    background-color:#286DCD ;
    text-align: left;
    
    height: 54px;
}
section #as{
    
    font-size: 16px;
    margin-left:3.5em
}
section #ass{
   
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
#ass a{
    background-color: #ffffff;
    font-size: 11px;
  
    width: 30px;
    padding: 0.7em 1em 0.7em 1em;
    text-decoration: none;
    color: #12790A;
    border: 1px solid #12790A;
}
#ass{
    margin-left: 6em;
    margin-bottom: 3em;
}

section .a{
   margin: 0.3em
}
.dive{
    display: inline-block;
}
    
p{
    color: #ffffff;
    font-style: normal;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
   margin-left: 8em;
    
}


.two{
    height: 80px;
    background-color: #F7F8F6;
}
.two img{
    
    margin-left: 4em;
}
.A{
    
    text-decoration: none;
    padding: 1em 1em 1em 1em;
    color: black;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: small;
   
    
}
.A:hover{
    background-color: #286DCD;
    color: white;
    border-radius: 50px;
}
#img1{
    width: 1280px;
    height: 500px;
}
#img2{
    position:absolute;
    top:140px;
    left:60px;
    border-image: 3px ;
    border-radius: 3px;
    text-shadow: 1px 1px 10px black ;
}
p{
    background-color:#286DCD ;
    text-align: center;
    margin: 0.4em 3em 0em 3em ;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}


